{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Cuenta Activada" %}{% endblock %}

{% block content %}
<p style="text-align: center; margin-top: 150px;">
    {% trans "Tu cuenta ha sido activada." %}
    {% if not user.is_authenticated %}
    {% trans "Puedes ingresar." %}
    {% endif %}
</p>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
