{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Se ha enviado un correo de activación" %}{% endblock %}

{% block content %}
<p style="text-align: center; margin-top: 150px">{% trans "Por favor revisa tu correo para completar el proceso de registración." %}</p>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
