#input_list{
    float: left;
    width: 300px;
    height: 500px;
}
#id_input_list{
    height: 500px;
}
#output_list{
    float: right;
    width: 300px;
    height: 500px;
}
#id_output_list{
    height: 500px;
}
#process{
    margin-left: 15%;
    margin-top: 25%;
}
#lists{
    width: 50%;
}
#case-data{
    font-size: 12px;
    margin-top: 50px;
    table-layout: fixed;
    margin: 0 auto !important;
    float: none !important;
    width: 50%;
}
.chart rect {
  fill: steelblue;
}
.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line{
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
#id_q {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}
#id_q_submit{
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}
.form-inline .form-control{
    width: 600px;
}
#search-filters{
    width: 100%;
    border: solid #e7e7e7;
    background-color: #f8f8f8;
}
body .highlighted{
    background-color: #EEFF66;
}
.form-inline input{
    height: 10px;
    margin: auto 0;
}
#table-filters{
    margin: 0;
}
#table-filters td{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
}
#table-filters input{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: transparent;
    border: none;
}
#search-form{
    width: 45%;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7px;
}
div#details {
    float: left;
    width: 70%;
    height: 100vh;
    overflow: auto;
    font-family: initial;
}
#results a {
    font-weight: bold;
    color: black;
}

.easyPaginateNav {
    float: right;
}
#easyPaginate {
    width:300px;
}
.easyPaginateNav {
    font-size: 14px;
    padding:5px;
    width: 100%; 

}
#search-form{
    width: 45%;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7px;
}
#results{
    float: right;
    width: 30%;
    font-size: 12px;
    font-family: initial;
}
#paginate li:hover {
    background-color: #e7e7e7;
}
.ley{
    background-color: #8098ee;
}
#desc_table{
    display: none;
    font-size: 12px;
}
#expand_desc {
    width: 100%;
    background-color: #e7e7e7;
    border: solid 1px;

}
.box {
    border: solid 0.5px;
    border-color: #e7e7e7;
    margin-bottom: 10px;
    list-style-type: none;
}
pre {
    font-family: initial;
    font-size: 14px;
    background-color: transparent;
    border: None;
}
.area {
    fill: lightsteelblue;
    stroke-width: 0;
}
.gs-w {
    border: solid 1px;
    color: #e2e2e2;
    background-color: #fff;
}
#dimple_line {
    width: 100%;
    height: 100%;
}
body {
    background-color: #f2f2f2;
}
