{% extends 'base.html' %}
{% load bootstrap3 %}
{% load highlight %}
{% block content %}

<div id="main-controls">
    <div id="controls-placeholder" class="col-md-3 col-md-offset-5">
        <a href="#">
            <img class="controls-btn" src="/static/icons/stack.svg"></img>
        </a>
        <a id="dashboard-submit" href="#">
            <img class="controls-btn" src="/static/icons/bar-chart.svg"></img>
        </a>
        <a id="download-submit" href="#">
            <img class="controls-btn" src="/static/icons/download.svg"></img>
        </a>
        <a id="info-submit" href="#">
            <img class="controls-btn" src="/static/icons/info.svg"></img>
        </a>
    </div>
</div>
<div id="details" class="col-md-12">
</div>

<form method="post" action="/dashboard/" name="seleccion">{% csrf_token %}
        {% for result in page.object_list %}
        <input type="hidden" name="seleccion" value="{{ result.object.pk }}"></input>
        {% endfor %}

        <input name="query" value="{{ query }}" type=hidden></input>
    <div id="results">
    {% if query %}
        {{ page.paginator.count }} resultados
        <div id="paginate">
            <ul>
        {% for result in page.object_list %}
            <li class="box" value="{{ result.object.pk }}"><a href="{{ result.object.get_absolute_url }}" onclick="return go(this);">{{ result.object.autos }}</a><br/> {% highlight result.texto with request.GET.q %}</li>
        {% empty %}
            <p>Sin resultados.</p>
        {% endfor %}
            </ul>
        </div>
    {% endif %}
    </div>
</form>

<script type="text/javascript">

function go(obj) {
    var page=obj.href;
    $('#details').load(page);
    return false
}

$('#paginate').easyPaginate({
    paginateElement: 'li',
    elementsPerPage: 10,
    effect: 'fade',
    position: 'before'
});

$('#dashboard-submit').click(function() {
  $('form').submit();
});


</script>
{% endblock %}
