{% extends 'base.html' %}
{% load bootstrap3 %}
{% load highlight %}
{% block content %}
<div id="main-controls">
    <div id="controls-placeholder" class="col-md-3 col-md-offset-5">
        <a id="dashboard-submit" href="#">
            <i class="fa fa-bar-chart fa-3x" aria-hidden="true" title="Panel Gráfico"></i>
        </a>
        <a id="save-search" href="#" data-toggle="modal" data-target="#search_modal">
            <i class="fa fa-floppy-o fa-3x" aria-hidden="true" title="Guardar Búsqueda"></i>
        </a>
    </div>
</div>
<div id="details" class="col-md-6">
    <p id="intruccion-texto" class="col-md-offset-1">Selecciona un fallo para ver el texto completo.</p>
</div>
<form method="post" action="/dashboard/" name="seleccion">{% csrf_token %}
        {% for result in page.object_list %}
        <input type="hidden" name="seleccion" value="{{ result.object.pk }}"></input>
        {% endfor %}

        <input id="query" name="query" value="{{ query }}" type=hidden></input>
    <div id="results">
        {{ page.paginator.count }} resultados
    {% if query %}
        <div id="paginate">
            <ul>
        {% for result in page.object_list %}
            <li class="box" value="{{ result.object.pk }}"><a href="{{ result.object.get_absolute_url }}" onclick="return go(this);">{{ result.object.autos }}</a><br/> {% highlight result.texto with request.GET.q %}</li>
        {% empty %}
            <p>Sin resultados.</p>
        {% endfor %}
            </ul>
        </div>
    {% endif %}
    </div>
</form>

<div class="modal fade" id="search_modal" tabindex="-1" role="dialog" aria-labelledby="modal_search" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_search">Busqueda Guardada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tu busqueda fue guardada. Puedes acceder a ella en cualquier momento desde tu perfil</p>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

function go(obj) {
    var page=obj.href;
    $('#details').load(page);
    return false
}

$('#paginate').easyPaginate({
    paginateElement: 'li',
    elementsPerPage: 10,
    effect: 'fade',
    position: 'before'
});

$('#dashboard-submit').click(function() {
  $('form').submit();
});

//// SAVE SEARCHES /////
$('#save-search').click(function(){
    $.ajax({
        type: "POST",
        url: "{% url 'savesearch' %}",
        data: {'query': $("#query").val(), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        dataType: "json",
        success: function(response) {
        },
        error: function(rs, e) {
        }
    });
})

</script>
{% endblock %}
