{% extends 'base.html' %}
{% load bootstrap3 %}
{% load highlight %}
{% block content %}

<div id="details";></div>

<form method="post" action="/analyzer/" name="seleccion">{% csrf_token %}
        {% for result in page.object_list %}
        <input type="hidden" name="seleccion" value="{{ result.object.pk }}"></input>
        {% endfor %}

        <input name="query" value="{{ query }}" type=hidden></input>
    <div id="results">
    {% if query %}
        {{ page.paginator.count }} resultados
        <div id="paginate">
            <ul>
        {% for result in page.object_list %}
            <li class="box" value="{{ result.object.pk }}"><a href="{{ result.object.get_absolute_url }}" onclick="return go(this);">{{ result.object.autos }}</a><br/> {% highlight result.texto with request.GET.q %}</li>
        {% empty %}
            <p>Sin resultados.</p>
        {% endfor %}
            </ul>
        </div>
    {% endif %}
    </div>

<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
            <a id="sidebar-submit" href="#">Crear Panel
                <i id="panel-icon" class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li >
            <a href="#">Guardar Fallo
                <i id="fav-icon" class="fa fa-bookmark fa-2x" aria-hidden="true"></i>
            </a>
        </li>        
      </ul>
    </div>
  </div>
</nav>
</form>

<script type="text/javascript">

function go(obj) {
    var page=obj.href;
    $('#details').load(page);
    return false
}

$('#paginate').easyPaginate({
    paginateElement: 'li',
    elementsPerPage: 10,
    effect: 'fade',
    position: 'before'
});

$('#sidebar-submit').click(function() {
  $('form').submit();
});
</script>
{% endblock %}
