{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<button onclick="areaChart(fechas, 'fechas');">Casedates</button>
<button onclick="barChart(leyes, 'leyes');">Casedates</button>
<button onclick="barChart(jueces, 'jueces');">Casedates</button>
<button onclick="barChart(citados, 'citados');">Casedates</button>
<button onclick="barChart(sobre, 'sobre');">Casedates</button>
<button onclick="barChart(actora, 'actora');">Casedates</button>
<button onclick="barChart(demandada, 'demandada');">Casedates</button>
<button onclick="barChart(voces, 'voces');">Casedates</button>
<button onclick="barChart(materia, 'materia');">Casedates</button>
<button onclick="addWidget();">Casedates</button>
<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
            <a  href="#">Adicionar Widget
                <i id="panel-icon" class="fa fa-plus fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li >
            <a href="#">Guardar Panel
                <i id="panel-icon" class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
            </a>
        </li>        
      </ul>
    </div>
  </div>
</nav>

<div class="gridster">
    <ul> </ul>
</div>

<script type="text/javascript">

var fechas = {{fechas|safe}}
var leyes = {{ leyes|safe }}
var jueces = {{ jueces|safe }}
var citados = {{ citados|safe }}
var sobre = {{ sobre|safe }}
var actora = {{ actora|safe }}
var demandada = {{ demandada|safe }}
var voces = {{ voces|safe }}
var materia = {{ materia|safe }}

function addWidget(){
    var gridster = $(".gridster ul").gridster().data('gridster');
    var uid = "id" + Math.random().toString(10).slice(2)
    gridster.add_widget.apply(gridster, ["<li" +
            "><div class='w_toolbar'>" +
            "<span></span>" +
            "<i class='fa fa-table fa-lg' aria-hidden='true'></i>" + 
            "<i class='fa fa-bar-chart fa-lg' aria-hidden='true'></i>" + 
            "<i class='fa fa-times fa-lg' aria-hidden='true'></i>" +
            "</div><div class='w_content' id=" + uid + "></div></li>", 5, 3]);
};

function areaChart(data, choice){
    var gridster = $(".gridster ul").gridster().data('gridster');
    var uid = "id" + Math.random().toString(10).slice(2)
    gridster.add_widget.apply(gridster, ["<li" +
            "><div class='w_toolbar'>" +
            "<span>" + choice + "</span>" +
            "<i class='fa fa-table fa-lg' aria-hidden='true'></i>" + 
            "<i class='fa fa-bar-chart fa-lg' aria-hidden='true'></i>" + 
            "<i class='fa fa-times fa-lg' aria-hidden='true'></i>" +
            "</div><div class='w_content' id=" + uid + "></div></li>", 5, 3]);

    var svg = dimple.newSvg("#" + uid, "100%", "100%");
    
    var myChart = new dimple.chart(svg, data);
    myChart.setBounds(100, 10, 350, 200);
    myChart.addTimeAxis("x", "fecha", "%Y-%m-%d", "%d-%m-%Y");
    myChart.addMeasureAxis("y", "cantidad");
    myChart.addSeries(null, dimple.plot.line);
    myChart.addSeries(null, dimple.plot.area);
    myChart.draw();
    
    myChart.svg.attr("viewBox", "0 0 500 300")
        .attr("width", "100%")
        .attr("preserveAspectRatio", "xMaxYMin meet");
};

$(function(){ 
    $(".gridster ul").gridster({
       widget_margins: [20, 20],
       widget_base_dimensions: [100, 100],
       resize: {
          enabled: true
       },
       draggable: {
          handle: '.w_toolbar'
       }
    });

    var gridster = $(".gridster ul").gridster().data('gridster');
    
    $('body').on( "click", ".gridster ul > li .fa-times", function() {
      gridster.remove_widget($(this).closest('li'));
    });

});

function barChart(data, choice){
    var gridster = $(".gridster ul").gridster().data('gridster');
    var uid = "id" + Math.random().toString(10).slice(2)
    gridster.add_widget.apply(gridster, ["<li" +
            "><div class='w_toolbar'>" +
            "<span>" + choice + "</span>" +
            "<i class='fa fa-table fa-lg' aria-hidden='true'></i>" + 
            "<i class='fa fa-bar-chart fa-lg' aria-hidden='true'></i>" + 
            "<i class='fa fa-times fa-lg' aria-hidden='true'></i>" +
            "</div><div class='w_content' id=" + uid + "></div></li>", 5, 3]);
    var svg = dimple.newSvg("#" + uid, "100%", "100%");
    
    var myChart = new dimple.chart(svg, data.slice(0,10));
    myChart.setBounds(100, 10, 350, 200);
    var x = myChart.addMeasureAxis("x", "cantidad");
    var y = myChart.addCategoryAxis("y", choice);
    y.addOrderRule('cantidad', false)
    myChart.height = 200;
    myChart.addSeries(null, dimple.plot.bar);
    myChart.draw(1000);

    myChart.svg.attr("viewBox", "0 0 500 300")
        .attr("width", "100%")
        .attr("preserveAspectRatio", "xMaxYMin meet");
    
};


$(document).on('mouseover mouseout', '.w_toolbar', function(){  
     $(".fa-bar-chart").click(function () {
    
        $(this).closest('li').find('svg').remove();
        $(this).closest('li').find('table').remove();
        $(this).closest('li').children('.w_content').css('overflowY', 'hidden');
        $(this).closest('li').children('.w_content').css('overflowX', 'hidden');
   
        var uid = $(this).closest('li').children('.w_content').attr('id');
        var w_data = eval($(this).closest('div').children('span').text());
        var w_var = $(this).closest('div').children('span').text();
    
        var svg = dimple.newSvg("#" + uid, "100%", "100%");
        
        var myChart = new dimple.chart(svg, w_data.slice(0, 10));
        myChart.setBounds(100, 10, 350, 200);
        var x = myChart.addMeasureAxis("x", "cantidad");
        var y = myChart.addCategoryAxis("y", w_var);
        y.addOrderRule('cantidad', false)
        myChart.height = 200;
        myChart.addSeries(null, dimple.plot.bar);
        myChart.draw(1000);
    
        myChart.svg.attr("viewBox", "0 0 500 300")
            .attr("width", "100%")
            .attr("preserveAspectRatio", "xMaxYMin meet");

    
    });

    $(".fa-table").click(function () {
        $(this).closest('li').find('svg').remove();
        $(this).closest('li').find('table').remove();
        $(this).closest('li').children('.w_content').css('overflowY', 'scroll');
        $(this).closest('li').children('.w_content').css('overflowX', 'hidden');
    
        var uid = $(this).closest('li').children('.w_content').attr('id');
        var w_data = eval($(this).closest('div').children('span').text());
        var w_var = $(this).closest('div').children('span').text();
    
        var dataTable = tabulate(w_data, uid, [w_var, 'cantidad', 'porcentage']);
        
        // uppercase the column headers
        dataTable.selectAll("thead th")
            .text(function(column) {
                return column.charAt(0).toUpperCase() + column.substr(1);
            });
            
        // sort by age
        dataTable.selectAll("tbody tr")
            .sort(function(a, b) {
                return d3.descending(a.cantidad, b.cantidad);
            });
    });
});
function tabulate(data, uid,  columns) {
    var table = d3.select("#" + uid).append("table")
        .attr('class', 'table table-hover')
        .attr('id', 'table-data'),
        thead = table.append("thead"),
        tbody = table.append("tbody");

    // append the header row
    thead.append("tr")
        .selectAll("th")
        .data(columns)
        .enter()
        .append("th")
            .text(function(column) { return column; });

    // create a row for each object in the data
    var rows = tbody.selectAll("tr")
        .data(data)
        .enter()
        .append("tr");

    // create a cell in each row for each column
    var cells = rows.selectAll("td")
        .data(function(row) {
            return columns.map(function(column) {
                return {column: column, value: row[column]};
            });
        })
        .enter()
        .append("td")
            .text(function(d) { return d.value; });
    
    return table;
};

</script>
{% endblock %}
