{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}


<button id="areaChart" onclick="areaChart();">Casedates</button>
<div class="gridster">
    <ul></ul>
</div>

<script type="text/javascript">

var sumdata = {{summary_votes|safe}}
var casedates = {{case_dates|safe}}

// var parseDate = d3.timeParse("%Y-%m-%d");

// function tabulate(data, columns) {
//     var table = d3.select("#container").append("table"),
//         thead = table.append("thead"),
//         tbody = table.append("tbody");
// 
//     // append the header row
//     thead.append("tr")
//         .selectAll("th")
//         .data(columns)
//         .enter()
//         .append("th")
//             .text(function(column) { return column; });
// 
//     // create a row for each object in the data
//     var rows = tbody.selectAll("tr")
//         .data(data)
//         .enter()
//         .append("tr");
// 
//     // create a cell in each row for each column
//     var cells = rows.selectAll("td")
//         .data(function(row) {
//             return columns.map(function(column) {
//                 return {column: column, value: row[column]};
//             });
//         })
//         .enter()
//         .append("td")
//             .text(function(d) { return d.value; });
// 
//     return table;
// }
// 
// // render the table
// var peopleTable = tabulate(sumdata, ["jueces", "q_may", "p_may"]);
// 
// // uppercase the column headers
// peopleTable.selectAll("thead th")
//     .text(function(column) {
//         return column.charAt(0).toUpperCase() + column.substr(1);
//     });
// 
// // sort by age
// peopleTable.selectAll("tbody tr")
//     .sort(function(a, b) {
//         return d3.descending(a.may, b.may);
//     });
// 
// may = [];
// $.each(sumdata, function(k, v) {
//     may.push(v.q_may);
// });
// 
// var width = 420,
//     barHeight = 20;
// 
// var x = d3.scaleLinear()
//     .domain([0, d3.max(may)])
//     .range([0, width]);
// 
// var chart = d3.select(".chart")
//     .attr("width", width)
//     .attr("height", barHeight * may.length);
// 
// var bar = chart.selectAll("g")
//     .data(may)
//   .enter().append("g")
//     .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });
// 
// bar.append("rect")
//     .attr("width", x)
//     .attr("height", barHeight - 1);
// 
// bar.append("text")
//     .attr("x", function(d) { return x(d) - 3; })
//     .attr("y", barHeight / 2)
//     .attr("dy", ".35em")
//     .text(function(d) { return d; });


// Case count chart

// var margin = {
//   top: 30,
//   right: 20,
//   bottom: 30,
//   left: 50
// };
// var width = 600 - margin.left - margin.right;
// var height = 270 - margin.top - margin.bottom;
// 
// var parseDate = d3.timeParse("%Y-%m-%d");
// 
// var x = d3.scaleTime().range([0, width]);
// var y = d3.scaleLinear().range([height, 0]);
// 
// var xAxis = d3.axisBottom()
//     .scale(x).ticks(5);
// 
// var yAxis = d3.axisLeft()
//     .scale(y).ticks(5);
// 
// var area = d3.area()
//     .curve(d3.curveBasis)
//     .x(function(d) { return x(d.fecha); })
//     .y0(height)
//     .y1(function(d) { return y(d.count); });
// 
// var valueline = d3.line()
//   .curve(d3.curveBasis)
//   .x(function(d) {
//     return x(d.fecha);
//   })
//   .y(function(d) {
//     return y(d.count);
//   });
// 
// var svg = d3.select("body")
//   .append("svg")
//   .attr("width", width + margin.left + margin.right)
//   .attr("height", height + margin.top + margin.bottom)
//   .append("g")
//   .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
// 
// // Get the data
// var casedates = casedates.sort(function(a,b){return new Date(b.fecha) - new Date(a.fecha)});
// 
// casedates.forEach(function(d) {
//   d.fecha = parseDate(d.fecha);
//   d.count = +d.count;
// });
// 
// // Scale the range of the data
// x.domain(d3.extent(casedates, function(d) {
//   return d.fecha;
// }));
// y.domain([0, d3.max(casedates, function(d) {
//   return d.count;
// })]);
// 
// var tooltip = d3.select("body")
// 	.append("div")
// 	.style("position", "absolute")
// 	.style("z-index", "10")
// 	.style("visibility", "hidden")
// 	.text("a simple tooltip");
// 
// svg.append("path")
//         .datum(casedates)
//         .attr("class", "area")
//         .attr("d", area);
// 
// svg.append("path") // Add the valueline path.
//   .attr("d", valueline(casedates))
//   .on("mouseover", function(){return tooltip.style("visibility", "visible");})
//   .on("mousemove", function(){return tooltip.style("top", (event.pageY-10)+"px").style("left",(event.pageX+10)+"px");})
//   .on("mouseout", function(){return tooltip.style("visibility", "hidden");});
// 
// svg.append("g") // Add the X Axis
//   .attr("class", "x axis")
//   .attr("transform", "translate(0," + height + ")")
//   .call(xAxis);
// 
// svg.append("g") // Add the Y Axis
//   .attr("class", "y axis")
//   .call(yAxis);



function areaChart(e){
    var gridster = $(".gridster ul").gridster().data('gridster');
    var uid = "id" + Math.random().toString(16).slice(2)
    gridster.add_widget.apply(gridster, ["<li id=" + uid + "></li>", 5, 3]);

    var svg = dimple.newSvg("#" + uid, "100%", "100%");
    
    var myChart = new dimple.chart(svg, casedates);
    myChart.setBounds(50, 10, 400, 200);
    myChart.addTimeAxis("x", "fecha", "%Y-%m-%d", "%m-%Y");
    myChart.addMeasureAxis("y", "count");
    myChart.addSeries(null, dimple.plot.area);
    myChart.addSeries(null, dimple.plot.line);
    myChart.draw();
    
    myChart.svg.attr("height", "100%")
        .attr("viewBox", "0 0 500 250")
        .attr("width", "100%")
        .attr("preserveAspectRatio", "xMidYMid meet");
    
   $('#dimple_line').onresize = function () {
       myChart.draw(0, true);
   };
};


$(function(){ 
    $(".gridster ul").gridster({
       widget_margins: [10, 10],
       widget_base_dimensions: [100, 100],
       resize: {
          enabled: true
       }
    });
});

</script>
{% endblock %}
