{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<h2 id="titulo-panel">Panel de búsqueda: "{{query}}"</h2>
<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
            <a  href="#" data-toggle="modal" data-target="#myModal">Propiedades
                <i id="panel-icon" class="fa fa-plus fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li >
            <a href="#">Guardar Panel
                <i id="panel-icon" class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
            </a>
        </li>        
      </ul>
    </div>
  </div>
</nav>
<div class="gridster">
    <ul> </ul>
</div>

<!-- Modal Chart Options-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Propiedades</h4>
      </div>
      <div class="modal-body">
          <label>Tipo</label>
          <select class="form-control">
            <option class="w_type" value="dimple.plot.bar">Barras</option>
            <option class="w_type" value="dimple.plot.line">Línea</option>
            <option class="w_type" value="dimple.plot.area">Área</option>
            <option class="w_type" value="dimple.plot.bubble">Puntos</option>
          </select>
          <label>Variable</label>
          <select class="form-control">
              <option class="widget-data">fecha</option>
              <option class="widget-data">leyes</option>
              <option class="widget-data">jueces</option>
              <option class="widget-data">citados</option>
              <option class="widget-data">sobre</option>
              <option class="widget-data">actora</option>
              <option class="widget-data">demandada</option>
              <option class="widget-data">voces</option>
              <option class="widget-data">materia</option>
          </select>
          <label>Valor</label>
          <select class="form-control">
              <option class="valor" value="cantidad">Cantidad</option>
              <option class="valor" value="porcentaje">Porcentaje</option>
          </select>
          <label>Orientación</label>
          <select class="form-control">
              <option class="orientacion">Vertical</option>
              <option class="orientacion">Horizontal</option>
          </select>
          <label>Color</label>
          <select class="form-control">
              <option class="color" value="#80b1d3">Azul</option>
              <option class="color" value="#d38088">Rojo</option>
              <option class="color" value="#d3a280">Naranja</option>
              <option class="color" value="#b1d380">Verde</option>
              <option class="color" value="black">Negro</option>
          </select>
          <br/>
          <button id="crear-widget" class="btn btn-default">Crear Widget</button>
          <button id="modificar-widget" class="btn btn-default">Modificar Widget</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

var fecha = {{fechas|safe}}
var leyes = {{ leyes|safe }}
var jueces = {{ jueces|safe }}
var citados = {{ citados|safe }}
var sobre = {{ sobre|safe }}
var actora = {{ actora|safe }}
var demandada = {{ demandada|safe }}
var voces = {{ voces|safe }}
var materia = {{ materia|safe }}

// Load gridster options.
$(function(){ 
    $(".gridster ul").gridster({
       widget_margins: [20, 20],
       widget_base_dimensions: [100, 100],
       resize: {
          enabled: true
       },
       draggable: {
          handle: '.w_toolbar'
       }
    });

    var gridster = $(".gridster ul").gridster().data('gridster');

    $('body').on( "click", ".gridster ul > li .fa-times", function() {
      gridster.remove_widget($(this).closest('li'));
    });
});

// Add Chart Widget.
function Chart(data, choice, orientacion, color, valor, type){
    // Add gridster tile.
    var gridster = $(".gridster ul").gridster().data('gridster');
    var uid = "id" + Math.random().toString(10).slice(2)
    gridster.add_widget.apply(gridster, ["<li" +
            "><div class='w_toolbar'>" +
            "<span>" + choice + "</span>" +
            "<i class='fa fa-table fa-lg' aria-hidden='true'></i>" + 
            "<i class='fa fa-times fa-lg' aria-hidden='true'></i>" +
            "<i class='fa fa-cog fa-lg' aria-hidden='true' data-toggle='modal' data-target='#myModal'></i>" +
            "</div><div class='w_content' id=" + uid + "></div></li>", 5, 3]);

    // Create svg element.
    var svg = dimple.newSvg("#" + uid, "100%", "100%");
    
    // Begin DimpleJS chart creation.
    var myChart = new dimple.chart(svg, data.slice(0,10));
    myChart.setBounds(10, 10, 450, 200);

    // If data is fecha, use TimeAxis. Else user CategoricalAxis.
    if (data == "fecha"){
        myChart.addTimeAxis("x", "fecha", "%Y-%m-%d", "%d-%m-%Y");
        myChart.addMeasureAxis("y", valor);
    } else {
         if (orientacion == "Horizontal"){
             var x = myChart.addMeasureAxis("x", valor);
             var y = myChart.addCategoryAxis("y", choice);
             y.addOrderRule(valor, false)
         } else{
             var x = myChart.addMeasureAxis("y", valor);
             var y = myChart.addCategoryAxis("x", choice);
             x.addOrderRule(valor, false)
         }
    }

    myChart.height = 200;
    myChart.addSeries(null, type);

    myChart.defaultColors = [
        new dimple.color(color, opacity=0.5) 
    ];

    myChart.draw(1000);

    myChart.svg.attr("viewBox", "0 0 500 300")
        .attr("width", "100%")
        .attr("preserveAspectRatio", "xMaxYMin meet");

    // Generate Table.
    var dataTable = tabulate(data, uid, [choice, 'cantidad', 'porcentaje']);
    
    // uppercase the column headers
    dataTable.selectAll("thead th")
        .text(function(column) {
            return column.charAt(0).toUpperCase() + column.substr(1);
        });
        
    // sort by age
    dataTable.selectAll("tbody tr")
        .sort(function(a, b) {
            return d3.descending(a.cantidad, b.cantidad);
        });
    $('#' + uid + "-table").hide()
    
};

// Add Chart Widget button.
$("#crear-widget").click(function () {
    var w_data = eval($('.widget-data:selected').text());
    var w_choice = $('.widget-data:selected').text();
    var w_orientacion= $('.orientacion:selected').text();
    var w_color= $('.color:selected').val();
    var w_valor= $('.valor:selected').val();
    var w_type= eval($('.w_type:selected').val());

    Chart(w_data, w_choice, w_orientacion, w_color, w_valor, w_type);
});

// Modify Chart Widget.
function modifyChart(uid, data, choice, orientacion, color, valor, type){

    // Create svg element.
    var svg = dimple.newSvg("#" + uid, "100%", "100%");
    
    // Begin DimpleJS chart creation.
    var myChart = new dimple.chart(svg, data.slice(0,10));
    myChart.setBounds(10, 10, 450, 200);

    // If data is fecha, use TimeAxis. Else user CategoricalAxis.
    if (data == "fecha"){
        myChart.addTimeAxis("x", "fecha", "%Y-%m-%d", "%d-%m-%Y");
        myChart.addMeasureAxis("y", valor);
    } else {
         if (orientacion == "Horizontal"){
             var x = myChart.addMeasureAxis("x", valor);
             var y = myChart.addCategoryAxis("y", choice);
             y.addOrderRule(valor, false)
         } else{
             var x = myChart.addMeasureAxis("y", valor);
             var y = myChart.addCategoryAxis("x", choice);
             x.addOrderRule(valor, false)
         }
    }

    myChart.height = 200;
    myChart.addSeries(null, type);

    myChart.defaultColors = [
        new dimple.color(color, opacity=0.5) 
    ];

    myChart.draw(1000);

    myChart.svg.attr("viewBox", "0 0 500 300")
        .attr("width", "100%")
        .attr("preserveAspectRatio", "xMaxYMin meet");
};

// Modify Chart Widget button.
$("#modificar-widget").click(function () {

    var uid = $(this).closest('.modal-body').parent('.modal-content').attr('id')
    $('#' + uid).find('svg').remove();


    var w_data = eval($('.widget-data:selected').text());
    var w_choice = $('.widget-data:selected').text();
    var w_orientacion= $('.orientacion:selected').text();
    var w_color= $('.color:selected').val();
    var w_valor= $('.valor:selected').val();
    var w_type= eval($('.w_type:selected').val());

    modifyChart(uid, w_data, w_choice, w_orientacion, w_color, w_valor, w_type);
});


// This load the actions for the widgets toolbar.
$(document).on('mouseover mouseout', '.w_toolbar', function(){  

     // Pass the widget id to the modal window in order to use it on the
     // modifyChart function. 
     $(".fa-cog").click(function () {
             var uid = $(this).closest('li').children('.w_content').attr('id');
             $('.modal-content').attr('id', uid);
     }); 

    // Toggle table / chart.
    $(".fa-table").click(function () {
        $(this).closest('li').find('svg').toggle();
        $(this).closest('li').find('table').toggle();
        $(this).closest('li').children('.w_content').css('overflowY', 'scroll');
        $(this).closest('li').children('.w_content').css('overflowX', 'hidden');
    });
});

// Tabulate chart data.
function tabulate(data, uid,  columns) {
    var table = d3.select("#" + uid).append("table")
        .attr('class', 'table table-hover')
        .attr('id', uid + "-table"),
        thead = table.append("thead"),
        tbody = table.append("tbody");

    // append the header row
    thead.append("tr")
        .selectAll("th")
        .data(columns)
        .enter()
        .append("th")
            .text(function(column) { return column; });

    // create a row for each object in the data
    var rows = tbody.selectAll("tr")
        .data(data)
        .enter()
        .append("tr");

    // create a cell in each row for each column
    var cells = rows.selectAll("td")
        .data(function(row) {
            return columns.map(function(column) {
                return {column: column, value: row[column]};
            });
        })
        .enter()
        .append("td")
            .text(function(d) { return d.value; });
    
    return table;
};

</script>
{% endblock %}
