{% load bootstrap3 %}
{% block content %}
<div id="toolbar">
    <div class="row col-md-offset-4 doc-toolbar">
        <a href="#" data-toggle="modal" data-target="#myModal">
           <img class="toolbar-btn" src="/static/icons/more.svg"></img>
        </a>
        <a class="fav-btn" href="#" name="{{ instance.id }}">
           {% if not liked %}
           <img class="toolbar-btn like" src="/static/icons/star.svg"></img>
           {% else %}
           <img class="toolbar-btn like" src="/static/icons/star-filled.svg"></img>
           {% endif %}
        </a>
        <a id="notas-off" href="#">
           <img class="toolbar-btn" src="/static/icons/edit.svg"></img>
        </a>
        <a id="notas-on" href="#">
           <img class="toolbar-btn" src="/static/icons/edit-on.svg"></img>
        </a>
        <a href="#">
           <img class="toolbar-btn" src="/static/icons/download.svg"></img>
        </a>
    </div>
    <div id="text-tools" class="row col-md-offset-5 doc-toolbar">
        <a id="hl-on" href="#">
           <img class="toolbar-btn" src="/static/icons/highlighter.svg"></img>
        </a>
        <a id="hl-off" href="#">
           <img class="toolbar-btn" src="/static/icons/highlighter-on.svg"></img>
        </a>
        <a id="cm-on" href="#">
           <img class="toolbar-btn" src="/static/icons/comment.svg"></img>
        </a>
        <a id="save" href="#" data-toggle="modal" data-target="#note_confirmation">
           <img class="toolbar-btn" src="/static/icons/save-small.svg"></img>
        </a>
    </div>
</div>
<div id="text-view">
    <h3 id="titulo">{{ instance.autos }}</h3>
    <pre id="texto-completo" class="col-md-offset-2">{{ instance.text }}</pre>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Datos adicionales</h4>
      </div>
      <div class="modal-body">
          <table id="desc_table" class="table table-hover">
              <tr>
                  <td>Carátula:</td>
                  <td>{{ instance.autos }}</td>
              </tr>
              <tr>
                  <td>Fecha:</td>
                  <td>{{ instance.fecha|date:"SHORT_DATE_FORMAT" }}</td>
              </tr>
              <tr>
                  <td>Tribunal:</td>
                  <td>{{ instance.corte }}</td>
              </tr>
              <tr>
                  <td>Jueces:</td>
                  <td>{{ instance.jueces }}</td>
              </tr>
              <tr>
                  <td>Legislación:</td>
                  <td>{{ instance.leyes }}</td>
              </tr>
              <tr>
                  <td>Fallos:</td>
                  <td>{{ instance.citados }}</td>
               <tr>
                  <td>Decisión:</td>
                  <td>{{ instance.resultados }}</td>
              </tr>
             </tr>
              <tr>
                  <td>Voces:</td>
                  <td>{{ instance.voces }}</td>
              </tr>
              <tr>
                  <td>Materia:</td>
                  <td>{{ instance.materia }}</td>
              </tr>
          </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="note_confirmation" tabindex="-1" role="dialog" aria-labelledby="modal_note" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_note">Anotaciones Guardadas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tus anotaciones fueron guardadas. Puedes acceder a ellas en cualquier momento desde tu perfil</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

// Highlight search word in case text.
$(document).ready(function() {
    $('.highlighted').each(function() {
        $('#details pre').mark($(this).text(),
                {"className": 'highlighted'});
    });
    $('#hl-off').hide();
    $('#text-tools').hide();
    $('#notas-on').hide();
});

// FAV / UNFAV BUTTON
$('.fav-btn').click(function(){
    $.ajax({
        type: "POST",
        url: "{% url 'like_button' %}",
        data: {'pk': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        dataType: "json",
        success: function(response) {
            if (response.liked == false){
                $('.fav-btn').html('<img class="toolbar-btn like" src="/static/icons/star.svg"></img>')
            } else{
                $('.fav-btn').html('<img class="toolbar-btn like" src="/static/icons/star-filled.svg"></img>')
            };
        },
        error: function(rs, e) {
        }
    });
})
       
$('#hl-on').on('click', function() {
    $('#hl-off').show();
    $('#hl-on').hide();
    hlText();
});

$('#hl-off').on('click', function() {
    $('#hl-on').show();
    $('#hl-off').hide();
    $('#texto-completo').unbind();
});

///// EDIT TOOLS /////

// Get date
var user = "{{request.user}}";
var d = new Date();
var month = d.getMonth()+1;
var day = d.getDate();

var cmdate = (day<10 ? '0' : '') + day + '/' +
    (month<10 ? '0' : '') + month + '/' +
    d.getFullYear() 


// Text Hightlight function.
function hlText() {
    $('pre').on("mouseup", function (e) {
        var selected = getSelection();
        var range = selected.getRangeAt(0);
        console.log(range);
        if(selected.toString().length > 1){
            var newNode = document.createElement("span");
            newNode.setAttribute("class", "text-hl");
            range.surroundContents(newNode); 
        }
        selected.removeAllRanges();
    });
}

function getSelection() {
    var seltxt = '';
    if ($('#details').getSelection) { 
        seltxt = $('#details').getSelection(); 
    } else if (document.getSelection) { 
        seltxt = document.getSelection(); 
    } else if (document.selection) { 
        seltxt = document.selection.createRange().text; 
    }
    else return;
    return seltxt;
}

// Add comments to text on mouse position click.
$('#cm-on').on('click', function() {
    $('texto-completo').focus();
    pasteHtmlAtCaret("<p><div contenteditable=true class='comment'>" + cmdate + " " + user + ": </div></p>");
    $('.comment').focus();
});

function pasteHtmlAtCaret(html) {
    var sel, range;
    if (window.getSelection) {
        sel = window.getSelection();
        if (sel.getRangeAt && sel.rangeCount) {
            range = sel.getRangeAt(0);
            range.deleteContents();

            var el = document.createElement("div");
            el.innerHTML = html;
            var frag = document.createDocumentFragment(), node, lastNode;
            while ( (node = el.firstChild) ) {
                lastNode = frag.appendChild(node);
            }
            range.insertNode(frag);

            if (lastNode) {
                range = range.cloneRange();
                range.setStartAfter(lastNode);
                range.collapse(true);
                sel.removeAllRanges();
                sel.addRange(range);
            }
        }
    } else if (document.selection && document.selection.type != "Control") {
        document.selection.createRange().pasteHTML(html);
    }
}

$('#notas-off').on('click', function(){
    $('#notas-on').show();
    $('#notas-off').hide();
    $('#text-tools').slideToggle(300);
    $('#texto-completo').attr('contenteditable', true);
});

$('#notas-on').on('click', function(){
    $('#notas-on').hide();
    $('#notas-off').show();
    $('#text-tools').slideToggle(300);
    $('#texto-completo').attr('contenteditable', false);
});

///// SAVE NOTES /////
$('#save').click(function(){
    $.ajax({
        type: "POST",
        url: "{% url 'savenotes' %}",
        data: {'autos': $('#titulo').text(), 'text': $('#texto-completo').html(), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        dataType: "json",
        success: function(response) {
        },
        error: function(rs, e) {
        }
    });
})


</script>
{% endblock %}
