{% load bootstrap3 %}
{% block content %}
<br />
<div>
    <div class="row col-md-offset-4 doc-toolbar">
        <a href="#" data-toggle="modal" data-target="#myModal">
           <img class="toolbar-btn" src="/static/icons/more.svg"></img>
        </a>
        <a class="fav-btn" href="#" name="{{ instance.id }}">
           {% if instance.total_likes == 0 %}
           <img id="unfav" class="toolbar-btn like" src="/static/icons/star.svg"></img>
           {% else %}
           <img id="unfav" class="toolbar-btn like" src="/static/icons/star-filled.svg"></img>
           {% endif %}
        </a>
        <a href="#">
           <img class="toolbar-btn" src="/static/icons/edit.svg"></img>
        </a>
        <a href="#">
           <img class="toolbar-btn" src="/static/icons/download.svg"></img>
        </a>
    </div>
    <h3 id="titulo">{{ instance.autos }}</h3>
           <p>count : {{ instance.total_likes }}</p>
    <pre id="texto-completo" class="col-md-offset-2">{{ instance.text }}</pre>
    <form method="post" id="fav_form" action="/favorites/" name="favorites">{% csrf_token %}
        <input id="fav_autos" name="fav_autos"></input>
        <input id="fav_url" name="fav_url"></input>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Datos adicionales</h4>
      </div>
      <div class="modal-body">
          <table id="desc_table" class="table table-hover">
              <tr>
                  <td>Carátula:</td>
                  <td>{{ instance.autos }}</td>
              </tr>
              <tr>
                  <td>Fecha:</td>
                  <td>{{ instance.fecha|date:"SHORT_DATE_FORMAT" }}</td>
              </tr>
              <tr>
                  <td>Tribunal:</td>
                  <td>{{ instance.corte }}</td>
              </tr>
              <tr>
                  <td>Jueces:</td>
                  <td>{{ instance.jueces }}</td>
              </tr>
              <tr>
                  <td>Legislación:</td>
                  <td>{{ instance.leyes }}</td>
              </tr>
              <tr>
                  <td>Fallos:</td>
                  <td>{{ instance.citados }}</td>
              </tr>
              <tr>
                  <td>Voces:</td>
                  <td>{{ instance.voces }}</td>
              </tr>
              <tr>
                  <td>Materia:</td>
                  <td>{{ instance.materia }}</td>
              </tr>
          </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

// Highlight search word in case text.
$(document).ready(function() {
    $('.highlighted').each(function() {
        $('#details pre').mark($(this).text(),
                {"className": 'highlighted'});
    });
});

$('.fav-btn').click(function(){
    $.ajax({
        type: "POST",
        url: "{% url 'like_button' %}",
        data: {'pk': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        dataType: "json",
        success: function(response) {
            if (response.likes_count == 0){
                $('.fav-btn').html('<img class="toolbar-btn like" src="/static/icons/star.svg"></img>')
            } else{
                $('.fav-btn').html('<img class="toolbar-btn like" src="/static/icons/star-filled.svg"></img>')
            };
        },
        error: function(rs, e) {
        }
    });
})
       
</script>
{% endblock %}
