{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div id="inicio_main">
    <div id="inicio_logo">
        <img id="main_logo" src="/static/icons/intralex-logo-white.svg"/></img>
        <p id="tagline">Inteligencia jurídica</p>
        {% if user.is_authenticated %}
        {% else %}
        <a href="/accounts/login/">
            <button class="flat_btn col-md-offset-4" type="button">Comenzar</button>
        </a>
        {% endif %}
    </div>
    <div class="empty"></div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="monitor col-md-4">
                <h5 class="col-md-offset-2 monitor-header">Descubre</h5>
                <p class="col-md-offset-1 monitor-text">Encuentra los casos mas
                relevantes usando novedosas herramientas de minería de datos y
                visualización. Con <strong>intraLex</strong> puedes descubrir los patrones
                ocultos detrás de las decisiones del sistema judicial nacional.</p>
                <img class="col-md-offset-2 monitor-image" src="/static/images/monitor_1.png"/></img>
            </div>
            <div class="monitor col-md-4">
                <h5 class="col-md-offset-2 monitor-header">Investiga</h5>
                <p class="col-md-offset-1 monitor-text">Accede a los textos completos 
                en formato digital editable. Guarda tus fallos favoritos, resalta las partes relevantes,
                inserta tus propias anotaciones y compártelos con tus colegas.  </p>
                <img class="col-md-offset-2 monitor-image" src="/static/images/monitor_2.png"/></img>
            </div>
            <div class="monitor col-md-4">
                <h5 class="col-md-offset-2 monitor-header">Analiza</h5>
                <p class="col-md-offset-1 monitor-text">Con
                <strong>intraLex</strong> puedes identificar las tendencias en las
                decisiones de los jueces y los tribunales, para darte una
                ventaja competitiva en investigación jurídica. Genera paneles
                dinámicos e interactivos y guarda tus búsquedas para acceder a
                ellos en cualquier momento.</p>
                <img class="col-md-offset-2 monitor-image" src="/static/images/monitor_3.png"/></img>
            </div>
        </div>
    </div>
    <div class="row">
    <p>En <strong>intraLex</strong> utilizamos técnicas de minería de datos y
    aprendizaje automático sobre las decisiones jurídicas disponibles publicamente
    para ayudar a estudios jurídicos, abogados y organizaciones a tomar mejores decisiones.</p>

    <p>El sistema judicial argentino genera cientos de miles de sentencias por
    año y encontrar la informacion relevante presenta un complejo desafio.

    <strong>intraLex</strong> es una nuevo concepto de
    investigacion juridica, que se distingue de los tradicionales buscadores de
    jurisprudencia, poniendo el foco en la información latente en los textos.
    </p>
        
    </div>

<div>
    Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>
    from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY
    </a>
</div>
</div>
{% endblock %}
