<h4 >Lista de Magistrados</h4>
<div id="jueces-list">
    <input class="fuzzy-search form-control" placeholder="Buscar"/>
    <ul class="list col-md-offset-1">
        {% for j in jueces %}
        <li>
            <p class="jueces-item" onclick="filterSelec()">
                <a href="#" class="filter-selec">{{j}}</a>
            </p>
        </li>
        {% endfor %}
    </ul>
    <div class="col-md-offset-4">
        <ul class="pagination col-md-offset-5"></ul>
    </div>
</div>
<script type="text/javascript">

var juecejuecessList = new List('jueces-list', { 
    valueNames: ['jueces-item'],
    page: 20,
    pagination: true
});

function filterSelec(){
    $('.jueces-item').click(function(){
        var selec = $(this).text();
        var field = $('#id_jueces');
        field.val($.trim(selec));
        $('#juecesModal').modal('hide');
    });
}

</script>
