<h4 >Lista de Materias del Tesauro</h4>
<div id="materia-list">
    <input class="fuzzy-search form-control" placeholder="Buscar"/>
    <ul class="list col-md-offset-1">
        {% for m in materia %}
        <li>
            <p class="materia-item"  onclick="filterSelec()">
                <a href="#" class="filter-selec">{{m}}</a>
            </p>
        </li>
        {% endfor %}
    </ul>
    <div class="col-md-offset-4">
        <ul class="pagination col-md-offset-5"></ul>
    </div>
</div>
<script type="text/javascript">

var materiaList = new List('materia-list', { 
    valueNames: ['filter-selec'],
    page: 20,
    pagination: true
});

function filterSelec(){
    $('.materia-item').click(function(){
        var selec = $(this).text();
        var field = $('#id_materia');
        field.val($.trim(selec));
        $('#materiaModal').modal('hide');
    });
}
</script>
