{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
            <a href="#">Crear Panel
                <i id="panel-icon" class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li >
            <a href="#">Guardar Fallo
                <i id="fav-icon" class="fa fa-bookmark fa-2x" aria-hidden="true"></i>
            </a>
        </li>        
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

