<h4 >Lista de Asuntos</h4>
<div id="sobre-list">
    <input class="fuzzy-search form-control" placeholder="Buscar"/>
    <ul class="list col-md-offset-1">
        {% for s in sobre %}
        <li>
            <p class="sobre-item"  onclick="filterSelec()">
                <a href="#" class="filter-selec">{{s}}</a>
            </p>
        </li>
        {% endfor %}
    </ul>
    <div class="col-md-offset-4">
        <ul class="pagination col-md-offset-5"></ul>
    </div>
</div>
<script type="text/javascript">

var sobreList = new List('sobre-list', { 
    valueNames: ['filter-selec'],
    page: 20,
    pagination: true
});

function filterSelec(){
    $('.sobre-item').click(function(){
        var selec = $(this).text();
        var field = $('#id_sobre');
        field.val($.trim(selec));
        $('#sobreModal').modal('hide');
    });
}
</script>
