<h4 >Lista de Voces del Tesauro</h4>
<div id="voces-list">
    <input class="fuzzy-search form-control" placeholder="Buscar"/>
    <ul class="list col-md-offset-1">
        {% for v in voces %}
        <li>
            <p class="voces-item"  onclick="filterSelec()">
                <a href="#" class="filter-selec">{{v}}</a>
            </p>
        </li>
        {% endfor %}
    </ul>
    <div class="col-md-offset-4">
        <ul class="pagination col-md-offset-5"></ul>
    </div>
</div>
<script type="text/javascript">

var corteList = new List('voces-list', { 
    valueNames: ['filter-selec'],
    page: 20,
    pagination: true
});

function filterSelec(){
    $('.voces-item').click(function(){
        var selec = $(this).text();
        var field = $('#id_voces');
        field.val($.trim(selec));
        $('#vocesModal').modal('hide');
    });
}
</script>
